/* * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

body {
    padding-top: 70px;
}

header {
    width: 100%;
    height: 100vh;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar .navbar-brand {
    font-family: Ubuntu;
    font-weight: bolder;
}

.intro {
    font-family: Ubuntu;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.intro h1{
    margin-bottom: 1rem;
}

.intro h4 {
    line-height: 1.5em;
    margin-bottom: 1rem;
}


